/*!--------------------------------------------------------
 * My customization START
 *--------------------------------------------------------*/

/*!--------------------------------------------------------
 * Comments
 *--------------------------------------------------------*/
 .mtk3 {
  /* padding-top: 1.5em; */
  font-family: "Futura Now Script" !important;
  font-style: italic !important;
  font-size: 1.4em !important;
  letter-spacing: 0.07em;
}
/*!--------------------------------------------------------
 * Function (keyword) and types
 *--------------------------------------------------------*/
.mtk8 {
  font-family: "IBM Plex Mono" !important;
  font-style: italic !important;
  font-size: 1.2em !important;
}
/*!--------------------------------------------------------
 * Variables
 *--------------------------------------------------------*/
.mtk1 {
  font-family: "Operator Mono" !important;
  /* font-style: italic !important; */
  font-size: 1.1em !important;
}
/*!--------------------------------------------------------
 * Strings
 *--------------------------------------------------------*/
/*!--------------------------------------------------------
 * My customization END
 *--------------------------------------------------------*/